body {
background-color: #A0785A;
}


div {
background-color: #272E23;
color: #fff;
border: box;
border: 2px solid ;
border-radius: 10px;
display: flex;
justify-content: center;
margin-top: 20%;
margin-left: 25%;
margin-right: 25%;
width: 50%;
box-shadow: 4px 4px 4px 4px #969696;
}